<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets</title>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <h2>Editar Ticket</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div>
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>

        <button type="submit">{{ form.submit.label }}</button>
    </form>

    <a href="{{ url_for('ticketsRouting.tickets') }}">Cancelar</a>
</body>
</html>