<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets</title>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <h1>Lista de Tickets</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }} {{ form.title() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <ul>
        {% for ticket in tickets %}
            <li><a href="{{ url_for('ticketsRouting.ticket_detail', id=ticket.id) }}">{{ ticket.title }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{url_for('index')}}">Home</a>
</body>
</html>
