{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ticket edit{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div>
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>

        <button type="submit">{{ form.submit.label }}</button>
    </form>

    <a href="{{ url_for('ticketsRouting.tickets') }}">Cancelar</a>
{% endblock %}