{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ticket detail {{ticket.id}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="ticket-info">
        <strong>Title:</strong> {{ ticket.title }}
    </div>
    <div class="ticket-info">
        <strong>Description:</strong> {{ ticket.description }}
    </div>
    <div class="ticket-info">
        <strong>Status:</strong> {{ ticket.status }}
    </div>
    <div class="ticket-info">
        <strong>Created at:</strong> {{ ticket.created_at.strftime('%d/%m/%Y %H:%M') }}
    </div>

    <a href="{{ url_for('ticketsRouting.tickets') }}" class="btn">Back</a>
</div>
{% endblock %}