{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Tickets list{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }} {{ form.title() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <ul>
        {% for ticket in tickets %}
            <li><a href="{{ url_for('ticketsRouting.ticket_detail', id=ticket.id) }}">{{ ticket.title }}</a>
                <a href="{{ url_for('ticketsRouting.edit_ticket', id=ticket.id) }}">Editar</a>
                <form action="{{ url_for('ticketsRouting.delete_ticket', ticket_id=ticket.id) }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Seguro que deseas eliminar este ticket?');">Eliminar</button>
                </form>
        {% endfor %}
    </ul>
{% endblock %}
